html, body {
    font-family: Palatino, URW Palladio L, serif;
    position: relative;
    font-weight: bold;
    background-color: #FFFAF0;
    color: #2F4F4F;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Nav Bar Styling  */

#top-nav-bar {
    height: 100px;
    background-color: #BDDFCC;
}

#always-balanced-long {
    height: 80px;
    margin-top: 10px;
    position: absolute;
    left: 38%;
}

#nav-bar {
    height:50px;
    background-color: #BDDFCC;
    display: flex;
    justify-content: space-evenly;
}

.nav-bar-divs {
    margin-top: 15px;
    width: 200px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.nav-bar-headings {
    text-decoration: none;
    color: #FFFAF0;
    font-size: 20px;
}

.nav-bar-headings.login-nav-bar-heading {
    position: absolute;
    left: 42%;
}

.nav-bar-headings.signup-nav-bar-heading {
    position: absolute;
    left: 52%;
}

.nav-bar-divs:hover {
    opacity: 50;
}

#lower-nav-bar {
    height: 50px;
    background-color: #BDDFCC;
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: 9999;
}

#clock {
    position: absolute;
    right: 0%;
    top: 0%;
    font-size: 30px;
    text-align: right;
    margin-right: 20px;
    color: #FFFAF0;
}

#always-balanced-navbar-logo {
    height: 120px;
    padding-left: 20px;
}

.nav-bar-divs {
    float: left;
}

/* Home Styling */

#home-div {
    text-align: center;
    height: 110%;
    width: 100%;
    position: relative;
}

#home-menu {
    width: 400px;
    position: absolute;
    left: 36.5%;
    margin-top: 100px;
}

#background-bottom-left {
    position: fixed;
    left: 0%;
    width: 450px;
    top: 35%
}

#background-top-right {
    position: absolute;
    right: 0%;
    width: 500px;
}

/* Form Styling  */

.form-containers {
    margin-top: 20px;
    text-align: center;
    width: 550px;
    position: absolute;
    left: 30%;
    overflow: scroll;
    overflow-y: auto;
    border: solid;
    border-radius: 5px;
    border-color: #BDDFCC;
    border-width: 5px;
    height: 450px;
    padding-top: 20px;
    background-color: #FFFAF0;
}

.form-headers {
    margin-bottom: 50px;
}

.form-labels {
    margin-bottom: 10px;
}

.forms {
    overflow: scroll;
}

.input-fields {
    margin-bottom: 10px;
    height: 30px;
    width: 200px;
    margin: 10px;
    text-align: center;
    border: solid;
    border-radius: 5px;
    border-color: #BDDFCC;     
}

.choose-relaxation-categories-form {
    font-family: Palatino, URW Palladio L, serif;
}

#create-task-form-div {
    position: absolute;
    right: 0%;
}

/* Button Styling */

.buttons {
    height: 35px;
    width: 100px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    border: solid;
    border-color: #BDDFCC;
    font-family: Palatino, URW Palladio L, serif;
    background-color: #DDEBE4;
    font-size: 15px;
    opacity: 100%;
    color: #2F4F4F;
}

.menu-buttons {
    height: 50px;
    width: 300px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    border: solid;
    border-color: #BDDFCC;
    font-family: Palatino, URW Palladio L, serif;
    background-color: #DDEBE4;
    font-size: 20px;
    opacity: 100%;
    color: #2F4F4F;
    cursor: pointer;
}

#back-button {
    position: absolute;
    left: 0%;
    margin: 20px;
}

.task-button {
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    border: solid;
    border-color: #BDDFCC;
    font-family: Palatino, URW Palladio L, serif;
    background-color: #DDEBE4;
    float: right;
    color: #2F4F4F;
}

.show-tasks {
    margin-top: 20px;
    position: absolute;
    width: 400px;
    text-align: center;
    height: 480px;
    border-radius: 5px;
    height: 450px;
    overflow: scroll;
    border: solid;
    border-color: #DDEBE4;
    border-width: 5px;
    padding-top: 20px;
}

#existing-tasks-div {
    right: 1%;
}

#schedule-in-progress-div {
    left: 1%;
}

.tasks-items {
    margin: 15px;
}

.task {
    display: inline;
}

/* Schedule Styling  */

#schedule-container {
    margin-top: 20px;
    text-align: center;
    width: 500px;
    position: absolute;
    left: 33%;
}

#create-schedule-container {
    margin-top: 10px;
    position: absolute;
    left: 37%;
    width: 1000px;
    text-align: center;
}

#create-schedule-form-container {
    position: absolute;
    left: 0%;
}

/* Modals  */

.modal {
    width: 100%;
    height: 100%;
    background-color: #FFFAF0;
    position: absolute;
    left: 50%;
    /* top: 70%; */
    transform: translate(-50%, -50%);
    overflow: scroll;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

#alert-modal {
    width: 101vw;
    position: absolute;
    margin-left: -740px;
    /* margin-top: -54vw; */
    margin-top: -775px;
    height: 51vw;
    left: 50%;
    background-color:#2F4F4F;
    opacity: 80%;
    font-weight: bold;
    color: #FFFAF0;
    justify-content: center;
    padding-top: 50px;
}

.countdown-header {
    font-size: 50px;
    vertical-align: middle;
}

.countdown-timer {
    font-size: 80px;
    margin-top: 0px;
}

.slotActive {
    color: #6495ED;
}

.info-divs {
    text-align: center;
    width: 400px;
    position: absolute;
    left: 37%;
    margin-top: 50px;
}

/* Profile Styling */

#profile-div {
    text-align: center;
    height: 110%;
    width: 100%;
    position: relative;
}

#profile-menu {
    width: 400px;
    position: absolute;
    left: 36.5%;
    margin-top: 100px;
}